body {
    background-color: #111217;
    color: #a8aaad;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a {
    color:#15c271;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size:xxx-large;
    color:white;
}

#content {
    margin-left: 20%;
    margin-right: 20%;
}

#profilepic {
    border-radius: 50%;
    height:300px; 
    width:300px;
}

#centerimagediv{
    text-align:center;
}

#centerlogodiv{
    margin-top:10px;
    text-align:center;
}